@use "../vars" as *;

.sidebar {
  max-width: 350px;
  width: 100%;
  @include respond-to-max(md) {
    position: fixed;
    background: $white;
    right: 0;
    top: 0;
    padding: 15px;
    transform: translateX(200%);
    transition: 0.4s ease-in-out transform;
    padding-top: 50px;
    &.active {
      overflow: scroll;
      height: 100%;
      transform: translateX(0);
    }
  }

  &__search {
    position: relative;
    & input {
      line-height: 28px;
      font-size: 14px;
      padding: 6px 18px;
      border-radius: 25px;
      border: solid 1px #A1A1A1;
      width: 100%;
    }
    &::after {
      content: "";
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      height: 17px;
      width: 17px;
      background: url("/search.svg") no-repeat;
    }
  }

  &__categories {
    margin-top: 45px;
    margin-bottom: 45px;
  }

  &__categories-title {
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__categories-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__categories-list-item {
    cursor: pointer;
  }

  &__posts {
  }

  &__posts-title {
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__posts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-bottom: 50px;
  }

  &__posts-list-item {
    line-height: 27px;
    & span {
      color: #A1A1A1;
      font-size: 14px;
    }
  }

  &__tags {
    margin-bottom: 20px;
  }

  &__tags-title {
    font-weight: bold;
    margin-bottom: 15px;
  }

  &__tags-list {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  &__tags-list-item {
    border-radius: 25px;
    color: #8F8D8D;
    border: 1px solid #A8A8A8;
    width: fit-content;
    line-height: 28px;
    padding-inline: 15px;
    cursor: pointer;
    transition: all 0.3s ease;

    &.active {
      background-color: #333;
      color: #fff;
      border-color: #333;
    }
  }

  &__social {
  }

  &__social-list {
    display: flex;
    gap: 20px;
  }

  &__social-list-item {
  }

  &__social-list-item-link {
  }

  &__social-list-item-link-icon {
    width: 16px;

  }
}
