@use "sass:map";

$text: #363838;
$white: #fff;
$grey: #DFDFDF;
$yellow: #FFEF35;
$darken: #363838;
$black: #000;
$body-text: 16px;
$font: Montserrat, sans-serif;
$title-size: 36px;
$transition: all 0.4s ease-in-out;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin respond-to-max($breakpoint) {
  @if map.has-key($breakpoints, $breakpoint) {
    @media (max-width: map.get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "No such a breakpoint: #{$breakpoint}";
  }
}