@use "vars" as *;
@use "sass:color";


.header {
  padding-block: 45px;
  max-width: 1078px;
  width: 100%;
  margin-inline: auto;
  @include respond-to-max(md) {
    padding-block: 10px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  ul {
    display: flex;
    gap: 80px;
    @include respond-to-max(md) {
      display: none;
    }
  }
  
  ul a {
    font-weight: bold;
  }
  
  &__logo {
    margin-inline: auto;
    @include respond-to-max(md) {
      margin-left: 0;
      margin-right: auto;
    }
  }
  
  &__menu-btn {
    display: none;
    margin-left: 60px;
    position: relative;
    z-index: 3;
    @include respond-to-max(md) {
      display: block;
      
    }
  }
  
  &__menu-btn img {
    @include respond-to-max(md) {
      width: 28px;
    }
  }
}

.mobile-menu {
  z-index: 2;
  inset: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  
  nav {
    position: relative;
    z-index: 3;
    width: fit-content;
    margin: auto;
    padding: 30px;
    padding-block: 50px;
    background: color.scale($white, $lightness: -10%);
    border-radius: 15px;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    min-width: 250px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  nav ul {
    display: flex;
    gap: 15px;
    flex-direction: column;
  }
  
  ul li {
    transition: 0.4s ease-in-out;
    border: 2px solid transparent;
    padding-block: 8px;
    cursor: pointer;
    
    &:hover {
      color: $yellow;
      border: 2px solid currentColor;
    }
  }
  
  nav a {
    font-weight: bold;
  }
  
  &-backdrop {
    position: fixed;
    z-index: 2;
    inset: 0;
    backdrop-filter: blur(3px) brightness(0.8);
    
  }
  
  .header__logo {
    display: block;
    margin-bottom: 20px;
    width: 97px;
    margin-inline: auto;
  }
}