@use "vars" as *;
@use "breakpoints" as *;

.how-it-works {
  padding-block: 80px 110px;
  @include respond-to-max(md) {
    padding-block: 30px;
  }
  
  .container {
    max-width: 900px;
  }
  
  &__title {
    margin-bottom: 40px;
    text-align: center;
    @include respond-to-max(md) {
      font-size: 3px;
    }
  }
  
  &__items {
    display: flex;
    flex-direction: column;
  }
  
  &__items-row {
    display: flex;
    
    &:first-of-type {
      border-bottom: 2px solid $darken;
      padding-bottom: 40px;
      margin-bottom: 40px;
      gap: 317px;
      
      @include respond-to-max(lg) {
        gap: 30px;
      }
      
      @include respond-to-max(md) {
        flex-direction: column;
        align-items: center;
        border: none;
      }
      
      .how-it-works__items-row-item:first-of-type::before {
        bottom: -46px;
        left: 0;
        width: 10px;
        height: 10px;
        border-radius: 50%;
      }
      
      .how-it-works__items-row-item:last-of-type::before {
        bottom: -40px;
        left: 0;
        width: 2px;
        height: 20px;
      }
    }
    
    &:last-of-type {
      justify-content: center;
      
      @include respond-to-max(md) {
        margin-left: 0;
      }
      
      .how-it-works__items-row-item:first-of-type::before {
        top: -40px;
        left: 0;
        width: 2px;
        height: 20px;
      }
    }
    
    &-item {
      max-width: 268px;
      width: 100%;
      position: relative;
      
      &:first-of-type::before,
      &:last-of-type::before {
        content: "";
        position: absolute;
        background: $darken;
        
        @include respond-to-max(md) {
          position: static;
        }
      }
      
      &-top {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-bottom: 15px;
        
        @include respond-to-max(md) {
          flex-direction: column;
          gap: 20px;
        }
      }
      
      &-icon {
        width: 40px;
      }
      
      &-title {
        font-weight: bold;
      }
      
      &-subtitle {
        line-height: 27px;
        @include respond-to-max(md) {
          text-align: center;
        }
      }
    }
  }
}
