@use "vars" as *;
@use "breakpoints" as *;
@use "components/article-card";
@use "header";
@use "footer";
@use "homepage/hero";
@use "homepage/collection";
@use "homepage/aesthetic";
@use "homepage/how-it-works";
@use "homepage/gallery";
@use "homepage/inspiration";

a {
  text-decoration: none;
  color: inherit;
}

img {
  width: 100%;
}

button {
  background: none;
  cursor: pointer;
  border: none;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  color: $text;
  font-family: $font;
  font-size: 16px;
}

.title {
  font-size: $title-size;
  font-weight: 700;
  line-height: 50px;
  @include respond-to-max(md) {
    font-size: 30px;
    line-height: 42px;
  }
}

.container {
  max-width: 1898px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 15px;
  @include respond-to-max(md) {
    padding-inline: 10px;
  }
}