@use "../vars" as *;


.collection {
  padding-block: 105px;
  padding-inline: 30px;
  max-width: 1980px;
  width: 100%;
  margin: 0 auto;
  
  @include respond-to-max(xxl) {
    padding-inline: 3px;
  }
  
  @include respond-to-max(md) {
    padding-block: 25px;
  }
  
  &__title {
    padding-bottom: 25px;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    
    @include respond-to-max(xxl) {
      padding-inline: 15px;
      font-size: 30px;
    }
    
    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      background: $darken;
      height: 1px;
      width: 250px;
    }
  }
  
  &__subtitle {
    text-align: center;
    margin-bottom: 55px;
    line-height: 27px;
    @include respond-to-max(xxl) {
      padding-inline: 15px;
    }
    
    @include respond-to-max(md) {
      margin-bottom: 25px;
    }
  }
}