@use "../vars" as *;

@use "../components/breadcrumbs";
@use "../components/pagination";
@use "../components/sidebar";
@use "../blog/blog-post";

.blog-wrapper {
  display: flex;
  gap: 30px;
  margin-block: 60px;
  @include respond-to-max(md) {
    margin-block: 25px;
  }
}

.blog__main {
  width: 100%;
}

